*
analysis
analysis/*
!analysis/README.md
!config
!config/*
!resources
!resources/*
!workflow
!workflow/**
.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
!LICENSE
!README.md
workflow/scripts/__pycache__/
workflow/scripts/stacks_analyzer/Cargo.lock
workflow/scripts/stacks_analyzer/target
workflow/.snakemake
